body {
    color: #000000;
}
//
// Nav Header
//

header {
    position: fixed;
    width: 100%;
    background-color: #FFF00F;
    padding: 0px 0px 0px 0px;
}
.headericondiv {
    width:20%;
    float:left;
}
.headericon {
    width:50%;
}
.navbar {
    padding: 30px 0px 30px 0px;
    margin: 100px 0px 100px 0px;
    font-size: 20px;
    overflow: hidden;
    background-color: #0FF00F;
    width:70%;
    float: right
}
.navitem {
    text-align: center;
    width:25%;
    display: block;
    float:left;
}
.navlink {
    text-decoration: none;
    text-align: center;
    color: #000000;
}
//
// footer
//