@import "variables";
* {
  box-sizing: border-box;
  font-family:'Segoe UI', 'Sans Serif';
  color: $font-color-1;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.highlight_text {
    color: $font-color-2;
    display: inline;
}

.button_panel {
  width: $button-panel-width;
  height: $button-panel-height;
  display:flex;
  justify-content: center;
  background: $background-color-1;
}
.play_button {
  width: $play-button-width;
  height: $play-button-height;
  background-image: url("/assets/images/buttons/play/play_default.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.play_button:hover {
  background-image: url("/assets/images/buttons/play/play_hover.png");
}
.left_skip {
  width: $skip-button-width;
  height: $button-panel-height;
  background-image: url("/assets/images/buttons/skip/left_skip.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.left_skip:hover {
  background-image: url("/assets/images/buttons/skip/left_skip_hover.png");
}
.right_skip {
  width: $skip-button-width;
  height: $button-panel-height;
  background-image: url("/assets/images/buttons/skip/right_skip.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.right_skip:hover {
  background-image: url("/assets/images/buttons/skip/right_skip_hover.png");
}
/* Header/logo Title */
.header_div {
  background-color: $background-color-1;
  border-style:ridge;
  border-width: 5px;
  border-color: $border-color-1;
}
header {
  padding: 80px;
  text-align: center;
  background-image: url("/assets/images/header/monado_graded.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color: white;
  z-index: 100;
}

/* Increase the font size of the heading */
header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
nav {
  overflow: hidden;
  background-color: $background-color-1;
  padding: 0px 20px 0px 20px;

  border-width: 0px 0px 2px 0px;
  border-style:solid;
  border-color:$shadow-color-2;
  position:sticky;
  top: 0; /* The nav will stick when it reaches 0px from the top of the viewport */
  width: 100%;
  z-index: 1000;
}

/* Style the navigation bar links */
.nav_link {
  float: left;
  display: flex;
  align-items: center;
  color: $font-color-1;
  text-align: center;
  padding: 15px 5px;
  text-decoration: none;
}
.nav_link_text {
  padding: 0px 5px 0px 10px;
}
/* Right-aligned link */
.nav_link.right {
  float: right;
}

/* Change color on hover */
.nav_link:hover {
  background-color: $background-color-3;
}

// 
// FOOTER
// 
footer {
  padding: 20px;
  display:flex;
  width:100%;
  background: $background-color-1;

  border-width: 5px 0px 0px 0px;
  border-style:ridge;
  border-color:$shadow-color-2;
}

.footer_links {
  display:flex;
  background-color: $background-color-4;
}
.social_link {
  display:block;
  text-align:center;
  width:100%;
  padding:20px;
}
.social_link_text {
  color: $font-color-3;
}
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #FFFFFF;
  color: #007bb5;
}
.fa-envelope {
  background: #FFFFFF;
  color: #046901;
}
.fa-github {
    background: #FFFFFF;
    color: #000000;
}
.fa-gitlab {
    background: #FFFFFF;
    color: #fc4c00;
}






/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}