---
---

@import "base";
@import "variables";
body {
    background-color: $school-bg-color-1;
}
.main {
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
}
.exterior {
    background-image: url("/assets/images/school/ysvi_back5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: $school-exterior-img-height;
    width: $school-exterior-img-width;
}
.interior {
    height: $school-interior-img-height;
    width: $school-interior-img-width;
    padding: $school-offset-top $school-offset-right $school-offset-bottom $school-offset-left;
}
.class_info {
    background-image:url("/assets/images/school/ysvi_back4.png");
    background-repeat: no-repeat;

    height: $school-interior-img-height;
    width: $school-interior-img-width;

    overflow-y: auto;
}

.school_sections_header {
    display:flex;
    justify-content: center;
    align-items: center;
    color: $school-font-color-1;
    background-image: url("/assets/images/school/ysvi_back3.png");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:70px;
    padding:0px;
    margin:0px;
    font-size:20px;
    text-decoration: underline;
    
}
.sections {
    padding:5px;
}
.school_section_div {

}
.school_section {
}
.school_section_header {
    display:flex;
    justify-content: center;
    align-items: center;
    color: $school-font-color-1;
    // background-image: url("/assets/images/school/ysvi_back3.png");
    // background-repeat: no-repeat;
    // background-position: center;
    width:100%;
    height:70px;
    padding:0px;
    margin:0px;
}

.class_title_div {
    display:flex;
    justify-content: center;
    align-items: center;
    color: $school-font-color-1;
    background-image: url("/assets/images/school/ysvi_back3.png");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:70px;
    padding:0px;
    margin:0px;
}