---
---

@import "base";
@import "variables";

.class_info {
    background-color: $background-color-1;
}

.school_sections_header {
    font-weight: bold;
}
.sections {

}
.school_section_div {
    background-color:lightgreen;
}
.school_section {

}
.school_section_header {

}

.class_title_div {
    color:red;
}